.App {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.Content {
    margin: 15px;
    background-color: white;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 1fr 1fr 1fr;
}